			<div class="main_link">
            	<h4 class="title title_br">友情连接</h4>
                <div class="a_link">
                	<ul>
                    	<li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            
            <div class="main_link">
                <div class="img_link a_link">
                	<ul>
                    	<li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <div class="main_link">
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <br />
                <img src="{CBAN_PATH}img/tail.jpg" height="121" />
                <img src="{CBAN_PATH}img/tail.jpg" height="121" />
            </div>