
<link href="{CBAN_PATH}css/wh_footer.css" type="text/css" rel="stylesheet"/>
<link href="{CBAN_PATH}css/wh_title.css" type="text/css" rel="stylesheet"/>

<div id="bottom_body">
    <!--底部友情链接开始-->
    <div id="title_blueline">
    友情链接
    </div>
    <div id="friendlink_body">
    	<ul>
        	<li> 泡泡网家电 |</li>
            <li> 泡泡产品库液晶电视 |</li>
            <li> 苹果园论坛 |</li>
            <li> 苹果园 |</li>
            <li> IT方案库 |</li>
            <li> 百姓家电网 |</li>
            <li> 合肥装修 |</li>
            <li> 搜狐家电频道 |</li>
            <li> it168家电一体机 |</li>
            <li> 品牌家电网 |</li>
            <li> 家天下家电 |</li>
            <li> 中国家电网 |</li>
            <li> 电子发烧友 |</li>
            <li> 小熊在线数字家庭 |</li>
            <li> 搜房家电 |</li>
            <li> 万维家庭影院 |</li>
            <li> 中国家电在线 |</li>
            <li> 家电论坛环球家电网 |</li>
            <li> 中国电热水器网 |</li>
            <li> 第一家电网 |</li>
            <li> 国美论坛 |</li>
            <li> 海尔官网 |</li>
            <li> 泡泡图吧</li>
        </ul>
    </div>
    <!--底部友情链结束、站点引导开始-->
    <div id="title_blueline" style="height:14px; background-color:#FFF;">
    </div>
    <div id="guild_body">
    <p>关于我们 ‖ 网站合作 ‖ 联系我们 ‖ 广告联系 ‖ 商品资讯 ‖ 各地网点 ‖ 网站地图 ‖ 意见反馈 ‖</p>
    <p> copyright © 2013 cban.com.cn Limited, All Rights Reserved</p>
    <p>中国品牌家电网 版权所有</p>
    <p> 京ICP证********号</p>
    </div>
    <!--站点引导结束、版权图片开始-->
    <div class="bottom_rights">
 	<img src="{CBAN_PATH}img/bottom_gs.gif" width="35" height="49" />国家备案
  	<img src="{CBAN_PATH}img/bottom_baidu.gif" width="40" height="49" style="padding-left:30px;"/>百度认证
    <img src="{CBAN_PATH}img/bottom_credit.gif" width="112" height="49" style="padding-left:30px;"/>
    </div>
    <!--版权图片结束-->
</div>