{template "content","header"}

<div id="content_background">
	<center>
        <div id="content">
        	<div class="main_1 main_div">
            	<div class="type_nav div">
                	<ul>
                    	<li class="type_name">
                        	家电分类目录
                        </li>
                        <li>
                        	<a href="#"><div>分类测试,分类测试</div></a>
                        </li>
                        <li class="type_one">
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li class="type_one">
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li class="type_one">
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li class="type_one">
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li class="type_one">
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li class="all_type">
                        	<a href="#">全类分类目录</a>
                        </li>
                    </ul>
                </div>
                
                <div class="show_1 div">
                	<!--图片新闻 开始-->
                	<h4 class="title">图片新闻</h4>
                	<div id="kinMaxShow">
                        <div>
                            <a href="#" target="_blank"><img src="{CBAN_PATH}images/demo_default_images/1.jpg"  /></a>
                        </div>
                        <div>
                            <a href="#" target="_blank"><img src="{CBAN_PATH}images/demo_default_images/2.jpg"  /></a>
                        </div>
                        <div>
                            <a href="#" target="_blank"><img src="{CBAN_PATH}images/demo_default_images/3.jpg"   /></a>
                        </div>
                        <div>
                            <a href="#" target="_blank"><img src="{CBAN_PATH}images/demo_default_images/4.jpg"   /></a>
                        </div>
                        <div>
                            <a href="#" target="_blank"><img src="{CBAN_PATH}images/demo_default_images/5.jpg"   /></a>
                        </div>
                        <div>
                            <a href="#" target="_blank"><img src="{CBAN_PATH}images/demo_default_images/6.jpg"   /></a>
                        </div>  
                    </div>
                    <!--图片轮换结束-->
                    
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="cont">
                    	<ul class="ul_list">
                        	<li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div2">
                	<!--列表类型-->
                    <h4 class="title">行业资讯</h4>
                    <div class="cont">
                    	<ul class="ul_list">
                        	<li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                            <li class="li_list">
                            	<div class="col_cont">新闻</div><div class="col_blck"><a href="#">新闻标题标题标题标题标题</a></div>
                            </li>
                        </ul>
                    </div>
                    
                    <!--图片类型列表-->
                    <h4 class="title title_br">展会信息</h4>
					<div class="cont">
                    	<ul class="ul_list">
                        	<li class="li_list">
                            	<div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text"><span>展会地址:</span>地址地址</div><div class="col_text"><span>展会时间:</span>0000年00月00日</div></div>
                            </li>
                        	<li class="li_list">
                            	<div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text"><span>展会地址:</span>地址地址</div><div class="col_text"><span>展会时间:</span>0000年00月00日</div></div>
                            </li>
                        	<li class="li_list">
                            	<div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text"><span>展会地址:</span>地址地址</div><div class="col_text"><span>展会时间:</span>0000年00月00日</div></div>
                            </li>
                        </ul>
                    </div>
                </div>
                          
            </div>
            
            <div class="main_2 main_div">
            	<div class="show_2 div">
                	<!--图片类型列表-->
                    <h4 class="title title_br">展会信息</h4>
                    <div class="cont">
                        <ul class="ul_list">
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_2 div">
                	<!--图片类型列表-->
                    <h4 class="title title_br">&nbsp;</h4>
                    <div class="cont">
                        <ul class="ul_list">
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_2 div">
                	<!--图片类型列表-->
                    <h4 class="title title_br">展会信息</h4>
                    <div class="cont">
                        <ul class="ul_list">
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                            <li class="li_list">
                                <div class="img"><img src="{CBAN_PATH}images/list_img.jpg" width="103" height="66" /></div><div class="col_blck"><a href="#">新闻标题标题</a><div class="col_text_wh col_text">说明说明说明说明说明说明说明说明说明说明</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="main_link">
            	<h4 class="title title_br">家电名企</h4>
                <div class="a_link">
                	<ul>
                    	<li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="main_link2">
            	<h4 class="title title_br">家电排行</h4>
                <div class="a_link">
              		<div class="mini_win">
                        <div class="win_title">
                            <ul>
                            	<!--
                                	属性说明:
                                	class="group_div"   : 	切换效果 识别用的div(固定值)
                                    data-type="X"		:	切换效果类型(1 or 2)
                                    data-class="XXX"	:	表现组的class名称
                                    data-id="XXX"		:	对应要显示的id名称
                                -->
                                <li class="event_in group_div" data-type="1" data-class="group_name" data-id="left_div_1">
                                    热门
                                </li>
                                <li class="event_out group_div" data-type="1" data-class="group_name" data-id="left_div_2">
                                    新品
                                </li>
                            </ul>
                        </div>
                        <div class="win_dir main_win_he">
                            <ul id="left_div_1" class="group_name">
                                <li>
                                	<span>1</span>
                                    <a href="javascript:;">商品1sadasdasd</a><br />
                                    <img src="{CBAN_PATH}images/tmp.jpg" height="40" />
                                </li>
                                <li>
                                	<span>2</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                	<span>3</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                	<span class="color">4</span>
                                    <a href="javascript:;">商品2</a>
                        		</li>
                                <li>
                                	<span class="color">5</span>
                                    <a href="javascript:;">商品2</a>
                        		</li>
                            </ul>
                            
                            <ul id="left_div_2" style="display:none;" class="group_name">
                                <li>
                                	<span>1</span>
                                    <a href="javascript:;">测试1sadasdasd</a><br />
                                    <img src="{CBAN_PATH}images/tmp.jpg" height="40" />
                                </li>
                                <li>
                                	<span>2</span>
                                    <a href="javascript:;">测试2</a>
                        		</li>
                                <li>
                                	<span>3</span>
                                    <a href="javascript:;">测试2</a>
                        		</li>
                                <li>
                                	<span class="color">4</span>
                                    <a href="javascript:;">测试2</a>
                        		</li>
                                <li>
                                	<span class="color">5</span>
                                    <a href="javascript:;">测试2</a>
                        		</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--
                        属性说明:
                        class="group_div"   : 	切换效果 识别用的div(固定值)
                        data-type="X"		:	切换效果类型(1 or 2)
                        data-class="XXX"	:	表现组的class名称
                        data-id="XXX"		:	对应要显示的id名称
                    -->
                    
                    <div class="medium_win">
                    	<div class="win_title">
                            <ul>
                                <li class="event group_div" data-class="group_bar" data-type="2" data-id="div_type_a_1">
                                    电视
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_2">
                                    冰箱
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_3">
                                	微波炉
                                </li>
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" id="div_type_a_1">
                        	<ul>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        电视
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_2">
                        	<ul>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        冰箱
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_3">
                        	<ul>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        微波炉
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="win_link">
                            <ol>
                            	<li>
                                	热门品牌:
                                </li>
                            	<li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            
            
            <!--页底开始-->
			{template "content","footer"}
            
        </div>
        
    </center>
    
</div>

</body>
</html>
