<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link href="css/main.css" type="text/css" rel="stylesheet"/>
</head>

<link type="text/css" href="css/base.css" rel="stylesheet" />
<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>


<body>
<a name="top"></a>
<div id="header">
	<center>
    	<div id="top">
        	<div id="top_tool_bar">
            	<ul>
                	<li>
                    	<a href="#">登录</a>
                    </li>
                    <li>
                    	<a href="#">注册</a>
                    </li>
                    <li>
                    	<a href="#">首页</a>
                    </li>
                    <li>
                    	<a href="#">会员中心</a>
                    </li>
                    <li>
                    	<a href="#">联系我们</a>
                    </li>
                    <li>
                    	<a href="#">客服中心</a>
                    </li>
                    <li class="no">
                    	<a href="#">更多<img src="img/tool_bar_de.jpg" /></a>
                    </li>
                </ul>
                
                <div id="controls">
                    <form name="select_form" action="" method="post">
                        <select name="type">
                          <option value="0">商品</option>
                          <option value="1">type1</option>
                          <option value="2">type2</option>
                        </select>
                        
                        <input name="select" type="text" />
                        <button>搜&nbsp;索</button>
                    </form>
                </div>
            </div>
            
        	<div>
            	<img src="img/logo.jpg" height="100" />
            </div>
            
        </div>
        <div id="header_nav">
        	<ul>
            	<li>
                	<a href="#"><div class="no">首页</div></a>
                </li>
                <li>
                	<a href="#"><div>行业资讯</div></a>
                </li>
                <li>
                	<a href="#"><div>商机信息</div></a>
                </li>
                <li>
                	<a href="#"><div>展会信息</div></a>
                </li>
                <li class="de_ba">
                	<a href="#"><div class="de">白县千店</div></a>
                </li>
                <li>
                	<a href="#"><div>家电维修</div></a>
                </li>
                <li>
                	<a href="#"><div>家电名企</div></a>
                </li>
                <li>
                	<a href="#"><div>畅销单品</div></a>
                </li>
                <li>
                	<a href="#"><div class="no_border">会员专区</div></a>
                </li>
            </ul>
        </div>
        
       
        
    </center>
</div>

<div id="content_background">
	<center>
        <div id="content">
        
        	<div class="main_link">
            	<h4 class="title title_br"><span>中国家电品牌网</span>><span>商机资讯</span><span>></span><span>供应信息发布</span></h4>
                <div class="a_link2">
                    <div class="medium_win">
                    
                    	<div class="win_title">
                            <ul>
                                <li class="event">
                                    <a href="javascript:;">现在发布</a>
                                </li>
                                <li>
                                    <a href="javascript:;">历史发布</a>
                                </li>
                            </ul>
                        </div>
                        
                                         
                        <div class="all" style="text-align:center;">
                        	<center>
                           	  <form>
                                <table class="page_table">
                                    <tr>
                                        <th>
                                        	标题:
                                        </th>
                                        <td>
                                        	<input class="bor" name="" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                        	供应商品:
                                        </th>
                                        <td>
                                        	<input class="bor" name="" type="text" />
                                        </td>
                                    </tr>
                                    <tr style="height:60px;">
                                        <th>
                                        	商品描述:
                                        </th>
                                        <td>
                                        	<textarea class="bor" name="" cols="" rows=""></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<th>
                                        	所属类型:
                                        </th>
                                        <td>
                                        	<select style="width:auto;" class="bor" name=""><option value="">-请选择-</option></select>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<th>
                                        	数量:
                                        </th>
                                        <td>
                                        	<input style="width:70%;" class="bor" name="" type="text" />
                                            <input style="margin-left:10px;" name="" type="checkbox" value="" />大量
                                        </td>
                                    </tr>
                                    <tr style="height:120px;">
                                    	<th>
                                        	照片上传:
                                        </th>
                                        <td>
                                        	<img src="img/img.jpg" />
                                            <input name="" type="file" />
                                        </td>
                                    </tr>
                                    <tr style="height:80px;">
                                    	<th>
                                        	所在地区:
                                        </th>
                                        <td>
                                            <div>
                                                省份:<select class="bor enwidht" name=""><option value="">-请选择-</option></select>&nbsp;&nbsp;
                                                地区:<select class="bor enwidht" name=""><option value="">-请选择-</option></select>
                                            </div>
                                            <div style="margin-top:10px;">
                                                城市:<select class="bor enwidht" name=""><option value="">-请选择-</option></select>&nbsp;&nbsp;
                                                其他:<input class="bor enwidht bu_bor" name="" type="text" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<th>
                                        	联系人:
                                        </th>
                                        <td>
                                        	<input class="bor" name="" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                    	<th>
                                        	手机号码:
                                        </th>
                                        <td>
                                        	<input class="bor" name="" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                    	<th>
                                        	备注:
                                        </th>
                                        <td>
                                        	<select class="bor" style="width:auto;" style="width:auto;" name=""><option value="">-请选择-</option></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                        	验证码:
                                        </th>
                                        <td>
                                        	<input class="bor" style="width:auto;" name="" type="text" />
                                            <img height="30" width="100" src="images/tmp7.jpg" />
                                            <img height="30" src="img/lo.jpg" />
                                        </td>
                                    </tr>
                                </table>
                                <div class="form_bar">
                                	<input style="background-color:#0695cd;" type="submit" name="button" id="button" value="发布" />
                                	<input type="reset" name="button2" id="button2" value="重置" />
                                </div>
                                </form>
                            </center>                            
                        </div>
                        
                        
                    </div>
                    
                    <div class="mini_win">
                    	<h4 class="title title_br">个人历史发布检索</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        <form name="" action="" method="post">
                            <table>
                            	<tr height="30">
                                	<td width="45">发布标题:</td>
                                    <td colspan="3"><input type="text" /></td>
                                </tr>
                                <tr height="30">
                                	<td width="45">商品信息:</td>
                                    <td colspan="3"><input type="text" /></td>
                                </tr>
                                <tr height="30">
                                    <td width="45">
                                        所属地区:
                                    </td>
                                    <td width="60">
                                        <input type="text" />
                                    </td>
                                    <td width="45">
                                        发布时间:
                                    </td>
                                    <td width="65">
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr height="30">
                                	<td width="45">所属类型:</td>
                                    <td colspan="3">
                                    	<select style="width:auto;" name=""><option value="">-请选择-</option></select>
                                    </td>
                                </tr>
                            </table>
                            
                            <div style="float:left; height:30px; width:100%; padding-top:5px; padding-bottom:10px;">
                                <div style="float:left; width:120px;">
                                历史展会:<input name="" type="checkbox" value="">
                                </div>
                                <div style="float:left; widows:120px;">
                                线上展会:<input name="" type="checkbox" value="">
                                </div>
                                <div style="float:right;">
                                <input type="image" src="img/se_form.jpg" value="检索">
                                </div>
                            </div>
                        </form>
                        
                        <h4 class="title title_br">信息发布说明</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        <div class="right_border_text_br">
                        	<h4>免责声明</h4>
                            <p>
                            	说明说明说明说明说明说明说明
                                说明说明说明
                                说明说明说明说明
                            </p>
                            <p>
                            	说明说明说明说明说明说明说明
                                说明说明说明
                                说明说明说明说明
                            </p>
                        </div>
                	</div>
                </div>
            </div>
        
            <!--页底开始-->
			<div class="main_link">
            	<h4 class="title title_br">友情连接</h4>
                <div class="a_link">
                	<ul>
                    	<li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="main_link">
                <div class="img_link a_link">
                	<ul>
                    	<li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                        <li>
                        	<div><a href="javascript:;">连接连接</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="main_link">
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <br />
                <img src="img/tail.jpg" height="121" />
                <img src="img/tail.jpg" height="121" />
                <div id="ren"><img src="img/ren.jpg" height="155" /></div>  
            </div>
            
        </div>
        <div style="position:fixed; width:100%; z-index:1; margin-left:-550px; bottom:40px;">
            <a href="#"><img src="img/mess.jpg" /></a><br /><a href="#top"><img src="img/top.jpg" /></a>
        </div>
    </center>
    
</div>

</body>
</html>
