<!-- 表单样式表 -->
<link href="{CBAN_PATH}css/member.css" type="text/css" rel="stylesheet"/>
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
	
    	<ul>
        	<li class="l_1"><strong>会员专区</strong></li>
            <li class='l_2'><strong>会员中心</strong></li>
            <li><a href="index.php?m=member&c=cban_member">基本信息</a></li>
            <li><a href="index.php?m=member&c=index&a=account_manage_password">修改邮箱/密码</a></li>
            <li class='l_2'><strong>商机信息</strong></li>
            <li><a href="index.php?m=member&c=cban_member&a=supply_infor">供应信息发布</a></li>
            <li><a href="index.php?m=member&c=cban_member&a=supply_infor_manage">历史发布管理</a></li>
            <li class='l_2'><strong>门店信息</strong></li>
            <li><a href="index.php?m=member&c=cban_member&a=mendian_infor">门店信息发布</a></li>
            <li><a href="index.php?m=member&c=cban_member&a=mendian_infor_per">门店信息完善</a></li>
            <li><a href="index.php?m=member&c=cban_member&a=mendian_infor_manage">门店信息管理</a></li>
            <li class='l_2'><strong>企业信息</strong></li>
            <li><a href="#">企业信息发布</a></li>
            <li><a href="#">企业信息管理</a></li>
        </ul>
   