{template 'content', 'header'}

<div id="m_box">
	<div id="m_top">中国家品牌网 > 会员专区 > 修改邮箱/密码</div>
    <div id="m_left">{template 'member', 'cban_account_manage_left'}</div>
    <div id="m_content">
			<form method="post" action="" id="myform" name="myform">
				<table width="100%" cellspacing="0" class="table_form">
					<tr>
						<th width="80">邮箱：</th>        
						<td><input name="info[email]" type="text" id="email" size="30" value="{$memberinfo['email']}" class="input-text"></td>
					</tr>
					<tr>
						<th width="80">原密码：</th>        
						<td><input name="info[password]" type="password" id="password" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th>新密码：</th>
						<td><input name="info[newpassword]" type="password" id="newpassword" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th>重复新密码：</th>
						<td><input name="info[renewpassword]" type="password" id="renewpassword" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th></th>
						<td><input name="dosubmit" type="submit" id="dosubmit" value="提交" class="button"></td>
					</tr>
				</table>
			</form>
    </div>
</div>		

<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#password").formValidator({onshow:"请输入密码",onfocus:"密码应该为6-20位之间"}).inputValidator({min:6,max:20,onerror:"密码应该为6-20位之间"});
	$("#newpassword").formValidator({onshow:"请输入密码",onfocus:"密码应该为6-20位之间"}).inputValidator({min:6,max:20,onerror:"密码应该为6-20位之间"});
	$("#renewpassword").formValidator({onshow:"请输入确认密码",onfocus:"请输入两次密码不同。",oncorrect:"密码输入一致"}).compareValidator({desid:"newpassword",operateor:"=",onerror:"请输入两次密码不同。"});	
	$("#email").formValidator({onshow:"请输入邮箱",onfocus:"邮箱格式错误",oncorrect:"邮箱格式正确"}).inputValidator({min:2,max:32,onerror:"邮箱应该为2-32位之间"}).regexValidator({regexp:"email",datatype:"enum",onerror:"邮箱格式错误"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=cban_public_checkemail_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "禁止注册或邮箱已存在",
		onwait : "请稍候..."
	}).defaultPassed();
})
//-->
</script>
{template 'content', 'footer2'}